  <div class="contents row">
    <div class="edit_body">
    <%= form_for(@user) do |f| %>
      <h3 class="search_title">
        編集する
      </h3><br />
      <div class="edit_box">
        <%= f.label :image_url %>
        <%= f.file_field :image_url %>
     </div><br />

     <div class="edit_box">
      <%= f.label :nickname %>
      <%= f.text_field :nickname %>
      </div><br />

      <div class="edit_box">
        <%= f.label :description %>
        <%= f.text_field :description %>
      </div><br />

      <div class="edit_box">
        <%= f.label :address %>
        <%= f.text_field :address %>
      </div><br />

      <div class="edit_box">
      <input type="submit" value="SENT">
    </div>
    <% end %>
  </div>
  </div>
