<div class="user_profile">

<%= image_tag @user.image_url, :class => "user_icon"%>

<div class="user_nickname">
  <%= @user.nickname %>
</div>

<dev class="center">
<%= render 'users/follow_form' if true %>

<section class="stats">
  <%= render 'posts/stats' %>
</section>

<div class="user_description">
  <%= @user.description %>
</div>

</div>

<%= link_to '編集', edit_user_path(@user) %>

</dev>

<div class="mypage_header">

</div>

<div>
  <% @posts.each do |post| %>
    <div>
      <%= simple_format(post.description) %>
    </div>
  <% end %>
</div>

<div class="footer">
  <%= render 'layouts/footer' %>
</div>

